@model SMSTech.Models.User

@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>AddUser</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Rid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rid)
                @Html.ValidationMessageFor(model => model.Rid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Addr, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Addr)
                @Html.ValidationMessageFor(model => model.Addr)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Username, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pass, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pass)
                @Html.ValidationMessageFor(model => model.Pass)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rankid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rankid)
                @Html.ValidationMessageFor(model => model.Rankid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nid)
                @Html.ValidationMessageFor(model => model.Nid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Eduid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Eduid)
                @Html.ValidationMessageFor(model => model.Eduid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Expid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Expid)
                @Html.ValidationMessageFor(model => model.Expid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Relid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Relid)
                @Html.ValidationMessageFor(model => model.Relid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AppDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AppDate)
                @Html.ValidationMessageFor(model => model.AppDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TermDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TermDate)
                @Html.ValidationMessageFor(model => model.TermDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DOB, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DOB)
                @Html.ValidationMessageFor(model => model.DOB)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone2)
                @Html.ValidationMessageFor(model => model.Phone2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.comments, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.comments)
                @Html.ValidationMessageFor(model => model.comments)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
