@model SMSTech.Models.Student

@{
    ViewBag.Title = "StudentDetails";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Student</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Student View</li>
            </ol>
            <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> <a href="@Url.Action("Create","Student")"/s>Create New</a></button>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Search Now</h4>
     

        <div class="row">
            
            <div class="col-md-3">
                <label class="m-t-20">Class</label>
               

                @Html.DropDownListFor(m => m.JoiningClassID, ViewBag.ClassList as SelectList, "--Select Class--", new { @id = "ClassDropDown", @name = "ClassDropDown", @class = "form-control ",  })
            
            </div>
             
            <div class="col-md-3">
                <label class="m-t-20">Section</label>
                @Html.DropDownListFor(m => m.SectionID, ViewBag.SectionList as SelectList, "--Select Section--", new { @id = "SectionDropDown", @name = "SectionDropDown", @class = "form-control " })
            </div>
            <div class="col-md-3">
                <label class="m-t-20">Religion</label>
                @Html.DropDownListFor(m => m.ReligionID, ViewBag.ReligionList as SelectList, "--Select Religion--", new { @id = "ReligionDropDown", @name = "ReligionDropDown", @class = "form-control " })
            </div>
            <div class="col-md-3">
                <label class="m-t-20">Nationality</label>
                @Html.DropDownListFor(m => m.NationalityID, ViewBag.NationalityList as SelectList, "--Select Nationality--", new { @id = "NationalityDropDown", @name = "NationalityDropDown", @class = "form-control " })
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="m-t-20">Roll #</label>
                <div class="input-group">
                    <input class="form-control" id="Search" placeholder="Roll #">
                    <div class="input-group-append">
                        <button type="submit" onclick="EditRecord()" id="SearchBtn" class="btn waves-effect waves-light btn-success">Roll #</button>

                    </div>

                </div>
            </div>
        </div>







    </div>
</div>
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="javascript:void(0)">Action</a>
        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
    </div>
</div>
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive m-t-40">
                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>  Section ID </th>
                                <th>  UserID           </th>
                                <th>  Roll No           </th>
                                <th>  Name         </th>
                                <th>  Starting Date          </th>
                                <th>  Status       </th>
                                <th>  Image      </th>
                                <th>  Birth Date       </th>
                                <th>  CNIC           </th>
                                <th>  Faimly ID          </th>
                                <th>  Gender     </th>
                                <th>  Joining Class ID       </th>
                                <th>  Leaving Date       </th>
                                <th>  Registration No       </th>
                                <th>  Nationality       </th>
                                <th>  Religion ID     </th>
                                <th>  Email       </th>
                                <th>  Student Group ID      </th>
                                <th>  Actions      </th>
                            </tr>
                        </thead>
                        <tbody id="body"></tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- ============================================================== -->
<!-- End PAge Content -->
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    //$(document).ready(function () {
    //    debugger
    //    GetData()
    //})

    $.get("/Student/GetStudents", null, GetData);

    function GetData() {
        $('#body').empty();
        $.ajax({
            url: '/Student/GetStudents',
            Type: 'GET',
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (result) {
                var row = "";
                $.each(result, function (key, value) {
                    rows = '<tr>'
                    + '<td>' + value.SectionID + '</td>'
                    + '<td>' + value.UserID + '</td>'
                    + '<td>' + value.RollNo + '</td>'
                    + '<td>' + value.Name + '</td>'
                    + '<td>' + value.sDate + '</td>'
                    + '<td>' + value.Status + '</td>'
                    + '<td>' + value.image + '</td>'
                    + '<td>' + value.BirthDate + '</td>'
                    + '<td>' + value.StuCNIC + '</td>'
                    + '<td>' + value.FamilyID + '</td>'
                    + '<td>' + value.Gender + '</td>'
                    + '<td>' + value.JoiningClassID + '</td>'
                    + '<td>' + value.LeavingDate + '</td>'
                    + '<td>' + value.registration_no + '</td>'
                    + '<td>' + value.NationalityID + '</td>'
                    + '<td>' + value.ReligionID + '</td>'
                    + '<td>' + value.Email + '</td>'
                    + '<td>' + value.StuGroupID + '</td>'
                    + '<td><input type="button" class="btn btn-primary edit" value="Edit" > <input type="button" class="btn btn-danger delete" value="Delete"></td>'
                    '</tr>'
                    $('#body').append(rows);
                })
            },
            error: function (result) {
            }
        })
    }

    function EditRecord(rollno) {
        var url = "/Student/GetStudentsByRoll?rollno=" + rollno;
        $('#body').empty();
        $.ajax({
            type: "GET",
            url: url,
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            //success: function (data) {
            //    var obj = JSON.parse(data);
            //    $("#rollno").value.RollNo;
            success: function (result) {
                var row = "";
                $.each(result, function (key, value) {
                    rows = '<tr>'
                    + '<td>' + value.SectionID + '</td>'
                    + '<td>' + value.UserID + '</td>'
                    + '<td>' + value.RollNo + '</td>'
                    + '<td>' + value.Name + '</td>'
                    + '<td>' + value.sDate + '</td>'
                    + '<td>' + value.Status + '</td>'
                    + '<td>' + value.image + '</td>'
                    + '<td>' + value.BirthDate + '</td>'
                    + '<td>' + value.StuCNIC + '</td>'
                    + '<td>' + value.FamilyID + '</td>'
                    + '<td>' + value.Gender + '</td>'
                    + '<td>' + value.ClassID + '</td>'
                    + '<td>' + value.LeavingDate + '</td>'
                    + '<td>' + value.registration_no + '</td>'
                    + '<td>' + value.NationalityID + '</td>'
                    + '<td>' + value.ReligionID + '</td>'
                    + '<td>' + value.Email + '</td>'
                    + '<td>' + value.StuGroupID + '</td>'
                    + '<td><input type="button" class="btn btn-primary edit" value="Edit" > <input type="button" class="btn btn-danger delete" value="Delete"></td>'
                    '</tr>'
                    $('#body').append(rows);
                })
            },

        })
    }

    $("#SearchBtn").click(function () {
        var RollNo = $("#RollNo").val();
        var SearchValue = $("#Search").val();
        var SetData = $("#DataSearching");
        SetData.html("");
        $.ajax({
            type: "post",
            url: "/Home/GetSearchingData?RollNo=" + RollNo,
            //url: "/Home/GetSearchingData?RollNo=" + RollNo + "&SearchValue=" + SearchValue,

            contentType: "html",
            success: function (result) {
                if (result.length == 0) {
                    SetData.append('<tr style="color:red"><td colspan="3">No Match Data</td></tr>')
                }
                else {
                    $.each(result, function (key, value) {
                        rows = '<tr>'
                        + '<td>' + value.SectionID + '</td>'
                        + '<td>' + value.UserID + '</td>'
                        + '<td>' + value.RollNo + '</td>'
                        + '<td>' + value.Name + '</td>'
                        + '<td>' + value.sDate + '</td>'
                        + '<td>' + value.Status + '</td>'
                        + '<td>' + value.image + '</td>'
                        + '<td>' + value.BirthDate + '</td>'
                        + '<td>' + value.StuCNIC + '</td>'
                        + '<td>' + value.FamilyID + '</td>'
                        + '<td>' + value.Gender + '</td>'
                        + '<td>' + value.ClassID + '</td>'
                        + '<td>' + value.LeavingDate + '</td>'
                        + '<td>' + value.registration_no + '</td>'
                        + '<td>' + value.NationalityID + '</td>'
                        + '<td>' + value.ReligionID + '</td>'
                        + '<td>' + value.Email + '</td>'
                        + '<td>' + value.StuGroupID + '</td>'
                        + '<td><input type="button" class="btn btn-primary edit" value="Edit" > <input type="button" class="btn btn-danger delete" value="Delete"></td>'
                        '</tr>'
                        SetData.append(Data);
                    })
                }
            }
        });
    });


    $("#ClassDropDown").change(function () {
        $.ajax({
            type: 'GET',
            url: '/Student/GetClassesDrop',
            datatype: 'JSON',
            data: { 'clsname': $(this).val() },
            success: function (data) {
                $('#body').empty();
                $.each(data, function (key, value) {
                    var rows = "<tr>" +
                        + '<td>' + value.ID + '</td>'
                        + '<td>' + value.SectionID + '</td>'
                        + '<td>' + value.UserID + '</td>'
                        + '<td>' + value.RollNo + '</td>'
                        + '<td>' + value.Name + '</td>'
                        + '<td>' + value.sDate + '</td>'
                        + '<td>' + value.Status + '</td>'
                        + '<td>' + value.image + '</td>'
                        + '<td>' + value.BirthDate + '</td>'
                        + '<td>' + value.StuCNIC + '</td>'
                        + '<td>' + value.FamilyID + '</td>'
                        + '<td>' + value.Gender + '</td>'
                        + '<td>' + value.JoiningClassID + '</td>'
                        + '<td>' + value.LeavingDate + '</td>'
                        + '<td>' + value.registration_no + '</td>'
                        + '<td>' + value.NationalityID + '</td>'
                        + '<td>' + value.ReligionID + '</td>'
                        + '<td>' + value.Email + '</td>'
                        + '<td>' + value.StuGroupID + '</td>'
                        + '<td><input type="button" class="btn btn-primary edit" value="Edit" > <input type="button" class="btn btn-danger delete" value="Delete"></td>'
                    '</tr>'
                    $('#body').append(rows);
                });
            },
            error: function (data) { alert(data.responseText); }
        });
    });
    

    $("#SectionDropDown").change(function () {
        $.ajax({
            type: 'GET',
            url: '/Student/GetSectionDrop',
            datatype: 'JSON',
            data: { 'Secname': $(this).val() },
            success: function (data) {
                $('#body').empty();
                $.each(data, function (key, value) {
                    var rows = "<tr>" +
                     + '<td>' + value.ID + '</td>'
                        + '<td>' + value.SectionID + '</td>'
                        + '<td>' + value.UserID + '</td>'
                        + '<td>' + value.RollNo + '</td>'
                        + '<td>' + value.Name + '</td>'
                        + '<td>' + value.sDate + '</td>'
                        + '<td>' + value.Status + '</td>'
                        + '<td>' + value.image + '</td>'
                        + '<td>' + value.BirthDate + '</td>'
                        + '<td>' + value.StuCNIC + '</td>'
                        + '<td>' + value.FamilyID + '</td>'
                        + '<td>' + value.Gender + '</td>'
                        + '<td>' + value.JoiningClassID + '</td>'
                        + '<td>' + value.LeavingDate + '</td>'
                        + '<td>' + value.registration_no + '</td>'
                        + '<td>' + value.NationalityID + '</td>'
                        + '<td>' + value.ReligionID + '</td>'
                        + '<td>' + value.Email + '</td>'
                        + '<td>' + value.StuGroupID + '</td>'
                        + '<td><input type="button" class="btn btn-primary edit" value="Edit" > <input type="button" class="btn btn-danger delete" value="Delete"></td>'
                    "</tr>";
                    $('#body').append(rows);
                });
            },
            error: function (data) { alert(data.responseText); }
        });
    });

    $("#ReligionDropDown").change(function () {
        $.ajax({
            type: 'GET',
            url: '/Student/GetReligionDrop',
            datatype: 'JSON',
            data: { 'Religion': $(this).val() },
            success: function (data) {
                $('#body').empty();
                $.each(data, function (key, value) {
                    var rows = "<tr>" +
                     + '<td>' + value.ID + '</td>'
                        + '<td>' + value.SectionID + '</td>'
                        + '<td>' + value.UserID + '</td>'
                        + '<td>' + value.RollNo + '</td>'
                        + '<td>' + value.Name + '</td>'
                        + '<td>' + value.sDate + '</td>'
                        + '<td>' + value.Status + '</td>'
                        + '<td>' + value.image + '</td>'
                        + '<td>' + value.BirthDate + '</td>'
                        + '<td>' + value.StuCNIC + '</td>'
                        + '<td>' + value.FamilyID + '</td>'
                        + '<td>' + value.Gender + '</td>'
                        + '<td>' + value.JoiningClassID + '</td>'
                        + '<td>' + value.LeavingDate + '</td>'
                        + '<td>' + value.registration_no + '</td>'
                        + '<td>' + value.NationalityID + '</td>'
                        + '<td>' + value.ReligionID + '</td>'
                        + '<td>' + value.Email + '</td>'
                        + '<td>' + value.StuGroupID + '</td>'
                        + '<td><input type="button" class="btn btn-primary edit" value="Edit" > <input type="button" class="btn btn-danger delete" value="Delete"></td>'
                    "</tr>";
                    $('#body').append(rows);
                });
            },
            error: function (data) { alert(data.responseText); }
        });
    });


    $("#NationalityDropDown").change(function () {
        $.ajax({
            type: 'GET',
            url: '/Student/GetNationalityDrop',
            datatype: 'JSON',
            data: { 'Nationality': $(this).val() },
            success: function (data) {
                $('#body').empty();
                $.each(data, function (key, value) {
                    var rows = "<tr>" +
                     + '<td>' + value.ID + '</td>'
                        + '<td>' + value.SectionID + '</td>'
                        + '<td>' + value.UserID + '</td>'
                        + '<td>' + value.RollNo + '</td>'
                        + '<td>' + value.Name + '</td>'
                        + '<td>' + value.sDate + '</td>'
                        + '<td>' + value.Status + '</td>'
                        + '<td>' + value.image + '</td>'
                        + '<td>' + value.BirthDate + '</td>'
                        + '<td>' + value.StuCNIC + '</td>'
                        + '<td>' + value.FamilyID + '</td>'
                        + '<td>' + value.Gender + '</td>'
                        + '<td>' + value.JoiningClassID + '</td>'
                        + '<td>' + value.LeavingDate + '</td>'
                        + '<td>' + value.registration_no + '</td>'
                        + '<td>' + value.NationalityID + '</td>'
                        + '<td>' + value.ReligionID + '</td>'
                        + '<td>' + value.Email + '</td>'
                        + '<td>' + value.StuGroupID + '</td>'
                        + '<td><input type="button" class="btn btn-primary edit" value="Edit" > <input type="button" class="btn btn-danger delete" value="Delete"></td>'
                    "</tr>";
                    $('#body').append(rows);
                });
            },
            error: function (data) { alert(data.responseText); }
        });
    });
</script>



